.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 50px;
}

input {
    border: 1px solid #999;
    
    min-width: 250px;
    width: 80%;
    margin-right: 10px;
    border-radius: 22px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999;

    margin-right: 10px;
    border-radius: 22px;
    background: #2d333b;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}